demo8-1/src/main/mule/demo8-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b5bae6f8-797f-4e6d-83af-9c1759152e3b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5da2cba2-4c33-411b-9f32-8ea95dbd5ee6" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="demo8-1Flow" doc:id="e6f4f871-d69a-422b-9705-c3af752f241b" >
		<http:listener doc:name="post json" doc:id="1c539afc-420b-4e69-8dae-c0940a9724d4" config-ref="HTTP_Listener_config" path="/api" allowedMethods="GET"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  test: "sample json"&#10;}]' doc:name="Set Payload to json" doc:id="6443418a-74cd-456e-a2a9-2f7e387231fc" />
		<http:request method="POST" doc:name="subflow post other" doc:id="c57d68fc-b862-4838-928b-aa8f45d13ba1" config-ref="HTTP_Request_configuration" path="/other" target="theResult"/>
		<logger level="INFO" doc:name="var: theResult" doc:id="2d08b6e9-d751-437e-a4de-8dfe63d3d0b1" message="var: result: #[vars.theResult]"/>
		<logger level="INFO" doc:name="payload: after post" doc:id="ba4fb30f-3309-4882-8d7f-cdbd1ece462f" message="after post : #[payload]" />
	</flow>
	<flow name="subflow" doc:id="caec5d1d-45b2-47ca-8e87-4ee9fd45f140" >
		<http:listener doc:name="other" doc:id="2decc09e-c39b-4d9d-9394-6d7b2146d98e" config-ref="HTTP_Listener_config" path="/other"/>
		<logger level="INFO" doc:name="param: payload" doc:id="d1a71e8b-bd9d-43d5-b74b-6d12a577313c" message="param:  payload: #[payload]"/>
		<set-payload value='#[%dw 2.0&#10;output application/xml&#10;---&#10;{&#10;  test: "sample xml"&#10;}]' doc:name="Set Payload to xml" doc:id="cb7bd00c-6883-4eec-9e8b-e9f25c0bd2ca" />
		<logger level="INFO" doc:name="subflow payload" doc:id="d36fe927-e94b-4798-bbdb-d28a1f277df0" message="subflow payload: #[payload]" />
	</flow>
</mule>
