demo11-5/src/main/mule/demo11-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae7f0f32-5910-4616-a755-474fd009df22" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo11-5Flow" doc:id="6f594bdc-7bba-45e3-b6d7-2146086bcc35" >
		<http:listener doc:name="POST XML" doc:id="e41d46c3-e4f3-422b-8bc4-52e2d41466ab" config-ref="HTTP_Listener_config" path="/api" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="47c5644c-0a80-4078-b754-b4cc1949429d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.order.*item map ( item , indexOfItem ) -> {
	orderId: item.@orderId as String default "",
	itemName: item.item default "",
	lineItemPrice: item.price default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
