demo11-6/src/main/mule/demo11-6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d6eed1f4-e898-44ac-ab2e-923744267f66" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="53a57f78-7469-428d-ad20-eac214a8a91d" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="demo11-6Flow" doc:id="dd8234c1-1f4c-49e7-9596-00d28bcc0ad5" >
		<http:listener doc:name="Listener" doc:id="5985543c-2209-41eb-8a95-d8e88285702a" config-ref="HTTP_Listener_config" path="/api" />
		<db:select doc:id="6a21e93c-76a7-42bf-8be7-98796f3cbcb6" config-ref="Database_Config" doc:name="Select" >
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="typeOf(payload)" doc:id="a1ce47f1-f7db-470e-bc1b-3e7adedb2cf9" message="#[typeOf(payload)]"/>
		<ee:transform doc:name="Transform Message" doc:id="7738c5f5-8ea3-45ff-ab85-79694047c7c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( item , index ) -> {
	planeType: item.planeType,
	price: item.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
