demo12-3/src/main/mule/demo12-3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e95a28fa-207c-4c01-973e-a72f373d001a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="ac1c19a6-be05-4088-b53d-3b61d09801ef" >
		<file:connection workingDir="C:\work\Mulesoft\mule-training\demo12-3\src\test\resources" />
	</file:config>
	<flow name="demo12-3Flow" doc:id="faae7e4c-d5cd-49bb-a39b-62ff1d63410e" >
		<http:listener doc:name="Listener" doc:id="fa936a39-9196-41bc-836d-88318bbc9139" config-ref="HTTP_Listener_config" path="/api"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"transaction": "SS-4488",&#10;	"account_id": "account1",&#10;	"name": "Max Mule",&#10;	"position": "sell"&#10;}]' doc:name="Set Payload" doc:id="88a4ac3c-5ba5-4440-9aec-c79d91e0b597" />
		<ee:transform doc:name="Transform Message" doc:id="02d5544d-6855-4bfc-9b63-050c384c36c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++ {"write_date": now()}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="cb368219-8644-4c7b-a07b-da39ae6de058" config-ref="File_Config" path="output/records.csv">

		</file:write>
	</flow>
</mule>
